@import url('https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro&display=swap');

html {
  background-color: #1f2b3b !important;
  color: #fff !important;
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #1f2b3b !important;
  color: #fff !important;
  font-size: 20px !important; 
  font-family: "Poppins", sans-serif !important;
}
.title {
  margin-left: 20px;
}
.about {
  color: rgb(228, 224, 224);
  font-size: 25px; 
  font-family: "Poppins", sans-serif ;
  /* font-weight: 100; */
  margin-left: 50px;
  line-height: 1.5;
  width: 85%;


}

/* .code {
  font-family: "Source Code Pro", monospace;
} */

.info {
  line-height: 1.4;
  width: 85%;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
  
}
.social {
  color: white !important;
  padding: 10px 30px 20px;
  font-size: 40px;
}

.icon {
  height: 30px;
  transition: 0.1s ease-in;
  color: #fff;
}

.icon:hover {
  transform: scale(1.5);
  color: #ff8a00;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease-in;
  background-color: #324359 !important;
}

.card p {
  font-size: 0.7em;
  color: #ccc !important;
}

.card a {
  font-size: 0.7em;
}

.card:hover {
  transform: scale(1.09);
}

.html-tag {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  color: #ff8a00;
  margin-top: 10px;
  margin-bottom: 10px;
}
.body-tag {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  color: #ff8a00;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.h1-tag {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  color: #ff8a00;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}